// 全局主题配置参数
$theme-main-color = #FDB52B
$theme-main-bg-light-color = #fffbea
$theme-main-bg-white-color = #ffffff
$theme-main-bg-dark-color = #212A31
$theme-main-bg-light-dark-color = #373A3D
$theme-main-bg-color = #F9F9F9
$theme-main-btn-bg-hover-color = #C4C4C4
$theme-main-border-color = #ffd435
$theme-main-light-border-color = #DADADA
$theme-main-text-dark-color = #4A4A4A
$theme-main-text-focus-color = #fbb900
$theme-main-text-active-color = #FA6D01
$theme-main-text-visited-color = #f49600
$theme-gray-text-color = #fafafa
$theme-main-tab-active-color = #FA862D
$main-container-width = 1120px
